
<div class="bg">
  <div class="loginBox">
    <a [routerLink]="'/'">
      <img src="/assets/logo.svg" style="  padding-bottom: 5px; width: 120px;">
    </a><br>
    Войдите с Solenopsys ID<br><br>


    <div style="margin-bottom: 20px">
      <fui-stext-field [title]="" [(value)]="email" ></fui-stext-field>
    </div>
    <div style="margin-bottom: 20px">
      <fui-stext-field [title]="" [password]="true"  [(value)]="code" ></fui-stext-field>
    </div>

    <fui-form-button [title]="'Выслать код'" (click)="sendCode()"></fui-form-button>
    <fui-form-button [title]="'Войти'"  (click)="sendLogin()"></fui-form-button>

  </div>
</div>

