<div style="display: flex;justify-content: center;" class="topPanel">
  <div style="display: flex;max-width: 2200px; width: 1800px">
    <div style="display: flex">
      <div style="text-align: center;  padding-top: 60px">

        <div style="padding-top: 100px;"></div>

        <div style="text-align: center; max-width: 650px">
          <div style="font-size: 55px;   text-transform:capitalize;    "><span style="font-weight: bold;   "
                                                                               class="textGradient">децентрализованная</span>
            кремниевая долина
          </div>
          <div style="font-size: 25px; margin: 20px ;color: grey">Cообщество создателей новых технологий <br>и
            высокотехнологичных компаний.
          </div>


          <!--        <div style="  display: flex;justify-content: center; ">-->
          <!--          <div class="button">Присоединиться</div>-->
          <!--          <div class="button">Установить</div>-->
          <!--        </div>-->
        </div>

      </div>

      <div style="padding-top: 40px"><img src="/assets/hub.png" width="600px"></div>
    </div>
  </div>
</div>

<sc-do-list></sc-do-list>

<div style="display: flex;justify-content: center;" class="topPanel">
  <div style="display: flex;max-width: 2200px; width: 1800px">
    <div style="text-align: center;max-width: 1200px; padding-top: 40px">

      <div style="font-size: 35px;"> Экосистема Solenopsys</div>
      <div style="  display: flex;justify-content: center; padding-top: 40px ">
        <div class="textBlock">
          <b>SoftConverged</b>
          <p>Программная платформа для управления тысячами различных устройств как одним целым.
        </div>
        <div class="textBlock">
          <b>HardConverged</b><br>
          <p>Промышленный фреймворк позволяющий объединять устройства различных производителей.</p>
        </div>
        <div class="textBlock">
          <b>SoleChain </b><br>
          <p>Блокчейн для защиты интеллектуальной собственности и венчурных сделок.</p>
        </div>
        <div class="textBlock">
          <b>SoleMarket </b><br>
          <p>Маркетплейc для торговли между участниками
            сообщества.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<sol-view3-d></sol-view3-d>-->

